.company{
    width: 100%;
    height: 270px;
    &_container{
        width: 80%;
        height: 270px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            opacity: 0.3;
            transition: 300ms;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
    }
}